<ul id="nav_admin">
    <li><%= link_to("Home", :controller => :admin, :action => :index) %></li>
    <li><%= link_to("Users", :controller => :admin, :action => :all_users) %></li>
    <li><%= link_to("Flights", :controller => :admin, :action => :all_flights)%></li>
    <li><%= link_to("Metrics", :controller => :admin, :action => :metrics)%></li>
</ul>